<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SmartWealth AI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<nav class="navbar">
    <div class="logo">SmartWealth AI</div>
    <div class="nav-links">
        <a href="/">Home</a>
        <a href="#features">Features</a>
        <a href="#how">How It Works</a>
    </div>
</nav>

{% block content %}{% endblock %}

</body>
</html>